extends layout

block content
   main.form-signin.w-100.m-auto
      form.form-login
        h1.h3.mb-3.fw-normal Please sign in
        .form-floating
          input#floatingInput.form-control(type='email' placeholder='name@example.com')
          label(for='floatingInput') Email address
        .form-floating
          input#floatingPassword.form-control(type='password' placeholder='Password')
          label(for='floatingPassword') Password
        .form-check.text-start.my-3
          input#flexCheckDefault.form-check-input(type='checkbox' value='remember-me')
          label.form-check-label(for='flexCheckDefault')
            | Remember me
        a.btn.btn-primary.w-100.py-2(href='/') Sign in
        p.mt-5.mb-3.text-body-secondary © 2023